form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label,input,textarea{

    margin-bottom: 10px;

}

input, textarea{

    padding: 10px;
    border: 1px solid #ccc;

}

button{

    padding: 10px 20px;
    background: color #4caf50;
    color:aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    color:aquamarine;
    background-color: #3e8e41;

}